<header>
    <h2>munacai.io</h2>
    <div class="navbar-nav" style="">
      <a class="nav-item nav-link" href="#">Добавить файл</a>
      <a class="nav-item nav-link" href="#" (click)="logout()">Выйти из системы</a>
    </div>
</header>

<main>
    <div class="title-file">
      <h1 class="pt-5"> Ваши загруженные файлы </h1>
    </div>
    <div class="file-list">
      <div class="row" id="files">
          <div class="col-md-3">
            <div class="file-card"></div>
          </div>
          <div class="col-md-3">
            <div class="file-card"></div>
          </div>
          <div class="col-md-3">
            <div class="file-card"></div>
          </div>
          <div class="col-md-3">
            <div class="file-card"></div>
          </div>
      </div>
    </div>
</main>
